<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <!--/*@thymesVar id="abc" type="aj"*/-->
    <h3 th:text="${abc}"></h3>

    <form action="/xgpass" method="post">

        <p th:text="${abc}" th:name="mailbox" th:value="${abc}"></p>
        <p>修改<label>
            <input type="text" name="mailbox" th:value="${abc}" readonly="readonly" style="border:0;outline:0;"/>
        </label>的密码
        </p>
        <p>输入密码：<input type="text" name="password"/></p>
        <p>确认密码：<input type="password" name="repassword"/>
        </p>
        <p>
            <button>提交</button>
        </p>
    </form>
</div>
</body>
</html>