<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<p>修改密码</p>
<script>
    function doPost(url)
    {
        var val1 = document.getElementsByName("key1").value;
        var val2 = document.getElementsByName("key2").value;

        // $.post(url, {'key1':val1, 'key2':val2});
        $.post(url);
    }
</script>
<input type="button" value="submit" onclick="doPost('http://localhost:9090/')" />
</body>
</html>