<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>MyMQ</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plugins.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link th:href="@{../static/css/bootstrap.min.css}" rel="stylesheet" />-->

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation" id="menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#" style="font-size: 3em">MyMQTT</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">价钱</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">支持</a>
                        </li>
                        <li>
                            <a href="#">博客</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="dl">
                            <a href="/m/login">登录</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div style="background-color: #F8F8F8; height: 50em">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3 class="text-left">实例
                    <a href="/m/create">
                        <button type="button" class="btn btn-lg btn-success">
                            添加实例 ＋
                        </button>
                    </a>
                </h3>


            </div>
        </div>
    </div>
</div>
</body>
</html>