/*body {*/
    /*background: #FAFAFA;*/
/*}*/
.title {
    font-size: 3em;
}
.title p {
    font-size: 1.8em;
}
.head_title h2 {
    font-size: 3em;
}
.learn-more {
    height: 500px;
    background: #FAFAFA;
}
.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #82ca9c;
}
.portfolio{
     background: white;
     width: 100%;
     overflow: hidden;
 }
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.community-edition{
    background:white;
    padding:40px 15px;
    /*border:1px solid #ececec;*/
    /*box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.community-edition:hover{
    /*background:#c1e2b3;*/
    color:black;
}
.community-edition:hover i {
    color:#82ca9c;
}
.community-edition:hover h4 {
    color:black;
}
.community-edition:hover p {
    color:black;
}

.community-edition i{
    font-size:60px;
    color:#c4e3f3;
    margin-bottom: 20px;
}
.community-edition h4{
    font-size:1.5em;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
}
.community-edition h6{
    font-size:16px;
    color:black;
    line-height: 20px;
}
.portfolio-wrapper2{
    margin-top:25px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    padding: 16px;
}

.container h2 {
    text-align: center;
    letter-spacing: 4px;
}

.container a {
    float: right;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 5% auto 15% auto; !* 5% from the top, 15% from the bottom and centered *!*/
    border: 2px solid #f9f8f6;
    width: 35%; /* Could be more or less, depending on screen size */
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 5px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
#navbar-header {
    height: 30px;
    padding-left: 8%;
}
#navbar-header a {
    float: left;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}
@media (max-width: 480px) {
    .modal-content {
        background-color: #fefefe;
        margin: 0 auto; /* 5% from the top, 15% from the bottom and centered */
        border: 2px solid #f9f8f6;
        width: 100%; /* Could be more or less, depending on screen size */
        /*margin-left: 10%;*/
        margin-top: 5%;
        border-radius: 5px;
    }
}

#login {
    width: 100%;
    height:600px;
}
#foot {
    background:#FAFAFA;
    height: 30px;
}
#z {
    text-align: center;
}


.community-edition1{
    background:white;
    padding:40px 15px;
    /*border:1px solid #ececec;*/
    /*box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    /*-ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);*/
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.community-edition1:hover{
    background:#82ca9c;
    color:black;
}
.community-edition1:hover i {
    color:white;
}
.community-edition1:hover h4 {
    color:black;
}
.community-edition1:hover p {
    color:black;
}

.community-edition1 i{
    font-size:60px;
    color:#82ca9c;
    margin-bottom: 20px;
}
.community-edition1 h4{
    font-size:1.5em;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
}
.community-edition1 h6{
    font-size:16px;
    color:black;
    line-height: 20px;
}
.separator1 {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #d6d6d6;
}
/*.card {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*!*flex-direction: column;*!*/
    /*min-width: 0;*/
    /*word-wrap: break-word;*/
    /*background-color: #FAFAFA;*/
    /*background-clip: border-box;*/
    /*border: 1px solid rgba(0,0,0,0.125);*/
    /*border-radius: 5px;*/
/*}*/

.card {
    background:white;
    color: black;
    /*padding:40px 15px;*/
   width: 80%;
    margin-left: 7%;
    position: absolute;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.card:hover {
    text-decoration: none;
    background: #82ca9c;
    color: white;
}
.card p {
    font-size: 1.5em;
}
.d-block {
    margin: 10%;
}